<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dog breed classification</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Dog breed classification Project</a>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Dog breed classification Project</h1>
        <hr />

        <img src="{{ image }}" alt="The current image" height="224" width="224">
        <p>{{breed}}</p>
        <div class="row">
            <div class="col-lg-12 form-group-lg">
			    <form action = "/upload" method = "POST" enctype = "multipart/form-data">
					<input type = "file" name = "file" accept="image/gif, image/jpeg, image/png" />
					<input type = "submit"/>
				</form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container">

</div>


</body>
</html>
